## **Presented By:** 
### - Azzouzi Ousssama Abderraouf

# 1- Imports

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# 2- loading datasets

In [24]:
df = pd.read_csv('simulation_data.csv')
df.head()

          e       e_1       e_2       e_3     theta       ref     torque
0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000
1  0.006093  0.000000  0.000000  0.000000  0.002165  0.008258  13.100014
2  0.007670  0.006093  0.000000  0.000000  0.008835  0.016505   4.304472
3  0.008116  0.007670  0.006093  0.000000  0.016616  0.024732   2.108557
4  0.008146  0.008116  0.007670  0.006093  0.024783  0.032928   1.281677

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100100 entries, 0 to 100099
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   e       100100 non-null  float64
 1   e_1     100100 non-null  float64
 2   e_2     100100 non-null  float64
 3   e_3     100100 non-null  float64
 4   theta   100100 non-null  float64
 5   ref     100100 non-null  float64
 6   torque  100100 non-null  float64
dtypes: float64(7)
memory usage: 5.3 MB

# 3- Data Preprocessing

In [26]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
e,100100.0,0.004267,0.025791,-0.067720,-0.009798,0.003026,0.018746,0.081675
e_1,100100.0,0.004265,0.025779,-0.067720,-0.009774,0.003005,0.018728,0.081675
e_2,100100.0,0.004263,0.025767,-0.067720,-0.009755,0.002978,0.018705,0.081675
e_3,100100.0,0.004262,0.025755,-0.067720,-0.009739,0.002955,0.018683,0.081675
theta,100100.0,0.073086,0.602516,-1.553709,-0.239285,0.062637,0.428545,1.553642
ref,100100.0,0.077353,0.626288,-1.569970,-0.250289,0.066335,0.447800,1.569975
torque,100100.0,0.644110,4.319833,-10.187520,-1.688881,0.480683,2.986944,135.356195

In [27]:
# df.isnull().sum(), df.isna().sum(), df.shape, df.dtypes, df.columns, df.nunique()

print('null values in the dataset:', df.isnull().sum().sum())
print('na values in the dataset:', df.isna().sum().sum())
print('shape of the dataset:', df.shape)
print('data types of the dataset:', df.dtypes)
print('columns of the dataset:', df.columns)
# print('unique values in the dataset:', df.nunique())

null values in the dataset: 0
na values in the dataset: 0
shape of the dataset: (100100, 7)
data types of the dataset: e         float64
e_1       float64
e_2       float64
e_3       float64
theta     float64
ref       float64
torque    float64
dtype: object
columns of the dataset: Index(['e', 'e_1', 'e_2', 'e_3', 'theta', 'ref', 'torque'], dtype='object')

# 4- Feature Selection

In [29]:
# normalizing the data
scaler = MinMaxScaler()
# df = scaler.fit_transform(df)

target = df['torque']

# features to drop
redundant_features = ['torque', 'e_1', 'e_2', 'e_3']

features = df.drop(columns=redundant_features)

In [30]:
features, target

(               e     theta       ref
 0       0.000000  0.000000  0.000000
 1       0.006093  0.002165  0.008258
 2       0.007670  0.008835  0.016505
 3       0.008116  0.016616  0.024732
 4       0.008146  0.024783  0.032928
 ...          ...       ...       ...
 100095 -0.000163  0.198396  0.198232
 100096 -0.000596  0.183851  0.183255
 100097 -0.001022  0.168656  0.167634
 100098 -0.001442  0.152867  0.151425
 100099 -0.001854  0.136539  0.134685

 [100100 rows x 3 columns],
 0          0.000000
 1         13.100014
 2          4.304472
 3          2.108557
 4          1.281677
             ...
 100095    -0.900993
 100096    -0.954346
 100097    -1.005765
 100098    -1.055079
 100099    -1.102111
 Name: torque, Length: 100100, dtype: float64)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, shuffle=False)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((80080, 3), (20020, 3), (80080,), (20020,))